body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Imagenes/loginBackground.jpg");
    background-size: cover;
}

.container {  display: grid;
  grid-template-columns: 1.3fr 0.7fr 1fr;
  grid-template-rows: 0.8fr 1fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "LOGO LoginPanel LoginPanel"
    "LOGO LoginPanel LoginPanel";
  font-family:Montserrat;
  font-weight:500;
}

.LOGO {
    grid-area: LOGO;
    background: #FCFCD4
}

.LoginPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Labels Controllers Controllers"
        "Labels Controllers Controllers"
        ". Controllers Controllers";
    grid-area: LoginPanel;
    background: #00ACCE;
    padding:20%;
}

.Labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Usuario Usuario Usuario"
        "Contraseña Contraseña Contraseña"
        ". . .";
    grid-area: Labels;
    text-align: right;
    margin: 0px 10px 0px 0px;
}

.Usuario { grid-area: Usuario; }

.Contraseña { grid-area: Contraseña; }

.Controllers {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "txtUsuario txtUsuario txtUsuario"
    "txtContraseña txtContraseña txtContraseña"
    "btnIniciarSesión btnIniciarSesión btnIniciarSesión";
  grid-area: Controllers;
}

.btnIniciarSesión { grid-area: btnIniciarSesión; }

.txtContraseña { grid-area: txtContraseña; }

.txtUsuario { grid-area: txtUsuario; }


.txtBox {
    border-radius: 2px;
    background: #E6F4F1;
    border-style: none;
    font-family: Montserrat;
    font-weight: 500;
    color: #979797;
    width:80%;
    height:50px;
    display:block;
    margin:10px;
}

